.clear {
  height: 0;
  clear: both;
  border: none;
}
a{
  color: #000;
}
body{
  background: #FFF;
  margin: 0;
  font-size:12px;
}
#container{
  margin: 0 auto;
  width: 970px;
  position: relative;
}

#top_bar{
  width: 970px;
  height: 30px;
  margin-bottom: 10px;
}

#style_choosing {
  margin-top: 0px;
  width: 320px;
  height: 30px;
  position: relative;
}
#style_choosing .tip {
  position: absolute;
  bottom: -35px;
  left: 120px;
  z-index: 2;
  background: #FFF;
  padding: 3px;
  border: 1px solid #BDBDBD;
}
#backto_home {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 15px;
  padding-left: 30px;
  background: url(../images/icons/home_icon.png) 1px 0px no-repeat;
}

#top_bar .style_btn {
  border: 1px solid #000;
  display: block;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  width: 20px; height: 20px;
  cursor: pointer;
}

#yellow_style{
  background: #F4CE2F;
}

#red_style{
  background: #F9C9D5;
}

#blue_style{
  background: #D3E6F5;
}

#white_style{
  background: #FFFDE4;
}

#top_menus {
  position: absolute;
  top: 0;
  right: 0;
  z-index:4;
}

#top_menus li {
  display: inline;
}

#top_menus li a {
  display: block;
  padding: 10px;
  float: left;
  margin-right: 10px;
  text-decoration: none;
  background: #FF8800;
  color: #FFF;
  border: 1px solid #FF5500;
  border-top: none;
}

#top_menus li a:hover {
  padding-top: 15px;
  color: #BDBDBD;
}

#top_notice {
  position: absolute;
  background: url(../images/icons/gonggao.png) no-repeat;
  width: 231px;
  height: 190px;
  overflow: hidden;
  z-index: 3;
  top: 12px;
  right: 65px;
}
#top_notice .inner{
  }
#top_notice  .title {
  padding-top:50px;
  padding-left:50px;
  font-size:18px;
  color: #F4CE2F;
}

#top_notice  .text {
  padding-top:10px;
  padding-left:60px;
  color: #000;
}

#nav{
  position: relative;
}

#nav .inner{
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  margin-top: 50px;
}

#index_slides {
    z-index: 998;
    margin-bottom: 10px;
    height: 310px;
    position: relative;
}

#index_slides .slides_container {
  height: 310px;
}

#index_slides .pagination {
  position: absolute;
  right: 5px;
  bottom: 3px;
  z-index: 1000;
}

#index_slides .pagination li{
  display: block;
  float: left;
  margin-right: 6px;
}

#index_slides .pagination a {
  border: 1px solid #FFF;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background: #FF9900;
}

#index_slides .pagination a:hover {
  background: #FF7700;
  color: #BDBDBD;
}

#slogan {
  margin-top: 360px;
}

#slogan .inner{
  text-align: center;
  width: 600px;
  margin: 0 auto;
}


#slogan .inner2 {
  font: bold 26px "Lucida Grande";
   color: #464646;
}

#main{
  position: relative;
  z-index: 2;
}

#contact_kaidun {
  margin-bottom: 0;
}

#contact_kaidun ul {
  padding-bottom: 15px;
}

.bar_connection {
  height: 40px;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;

}

.bar_connection .t {
  height: 20px;
  background: #FFF;
  display: block;
}

.bar_connection .b {
  height: 20px;
  background: #FFF;
  display: block;
  margin-bottom: 20px;

}

.bar_connection img {
  margin-top: -10px;
  margin-left: 20px;
}

.bar_connection1 {
  height: 25px;
  background: #FFF;
  margin-left: 4px;
  margin-right: 4px;
}

#main .left_bar{
  float: left;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
#main .right{
  float: right;
  width: 750px;
  }

.right .center1{
  float: left;
  width: 530px;
  margin-right: 10px;
}
.right .right_bar{
  float: right;
  width: 200px;
  margin-right: 10px;
}

#kaidun_famous_teacher {
  width: 260px;
  float: left;
  margin-right: 10px;
}

#kaidun_month_star {
  width: 260px;
  float: left;
}

.box {
  margin-bottom: 0px;
  position: relative;
}

.box a {
  text-decoration: none;
}

.box a:hover {
  margin-left: 2px;
  text-decoration: underline;
}

.box em.icon {
  position: absolute;
  left: -2px;
  top: -12px;
}

.box h3 {
  background-color: #B0373C;
  color: #FFF;
}

.box h3 span {
  display: block;
  float: right;
  font-size: 80%;
}

.box h3 .inner {
  padding: 5px;
  padding-left: 40px;
}

.box div.m{
  padding: 9px;
}

.box div.m img{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.box ul {
  background: #FFF;
  margin: 0 4px;
  padding-bottom: 25px;
}

.box ul li {
  padding: 8px;
  border-bottom: 1px dashed #BDBDBD;
}

.center1 .box h3 {
  background: #552F18;
}

.center1 .box ul {
  background: transparent;
}

.center1 .box h3 .inner span a {
  color: #FFF;
}

#kaidun_notices {
}


#kaidun_news, #kaidun_activity {
  width: 460px;
}

#preview_video {
  margin-bottom: 10px;
}

#company_partner li img {
  margin-left: 15px;
}

#company_partner li a:hover {
  padding-left: 2px;
  padding-top: 2px;
}

#egg {
  position: absolute;
  bottom: 36px;
  left: 25px;
  z-index: 9999;
}

#footer{
  margin-top: 20px;
  background: #552F18;
  color: #FFF;
}

#footer .inner {
  padding: 10px;
  text-align: center;
}

#footer .inner p {
  padding: 10px;
  font-size: 12px;
}



/* teachers page style */
.teacher {
  width: 360px;
  float: left;
  margin-bottom: 10px;
  margin-right: 6px;
}

.teachers img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* End teachers */